/* GENERIC */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

footer {
    flex: 0;
    margin-top: auto;
    font-family: sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    color: #08205E;
}

a.generic-link {
    color: black;
    text-decoration: underline;
}

.button-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.button {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    color: white;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, opacity 2s ease-out;
}

.flash_message {
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    background-color: darkorange;
    font-size: 1.10em;
    padding: 13px 15px 10px 15px;
    margin-bottom: 50px;
    border-radius: 0.5em;
    max-width: 300px;
    overflow: hidden;
}

.flex-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* INDEX / LOGIN PAGE */
.logo {
    align-self: center;
    width: 70%;
}
.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    height: 550px;
    background-color: #FFF;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.login-container label {
    margin: 0 0 10px;
    display: block;
    font-size: 1.25em;
    color: #08205E;
    font-weight: 600;
    font-family: inherit;
}

.login-container input {
    padding: 0.3em 0.5em 0.4em;
    background-color: #f3fafd;
    border: solid 2px #08205E;
    border-radius: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 1.3em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

.login-container input:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #edf8fc;
    border: solid 2px #235FF7;
}

.login-container input::placeholder {
    color: #03123A;
}

.login-container button {
    padding: 0.5em;
    background-color: #235FF7;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    margin-top: 20px;
    transition: transforme 0.1s ease-in-out, background-color 0.2s ease-out;
}

.login-container button:hover {
    cursor: pointer;
    background-color: #08205E;
}

.login-container button:active {
    transform: scale(0.98);
}


/* START TIMESHEET */
.start-button {
    background-color: #19B173;
}
.start-button:hover {
    background-color: indianred;
}

.start-button:active {
    background-color: #19B173;
}

/* STOP TIMESHEET */
.bg-stop {
    background-color: #19B173;
}

.stop-button {
    background-color: indianred;
}
.stop-button:hover {
    background-color: black;
}

.stop-button:active {
    background-color: black;
}

/* ERROR PAGES */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}