<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - CSRF Fehler</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="error-container">
    <img src="/static/giphy.webp" width="100" height="100" class="giphy-embed"/>
    <h1>400 - CSRF Fehler</h1>
    <p>{{ reason }}</p>
    <a href="/">Startseite</a>
</div>

</body>
</html>
