<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg"/>
    <link rel="stylesheet" href="/static/style.css">

    <title>Proxy-Web-App für Kimai | Anmeldung</title>
    <meta name="description" content="Proxy-Web-App for Kimai time tracking software">
</head>
<body>
    <div class="flex-wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash_m" class=flash_message>
                {% for message in messages %}
                    <b>{{ message }}</b><br>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="login-container">
            <img class="logo" src="../static/logo.svg">
            <h1>Anmeldung</h1>
            <form id="login-form" method="POST" action="/login">
                <div class="input-field">
                    <label for="password">API-Token</label>
                    <input type="password" id="password" name="password" autocomplete="on" autofocus required>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit">Anmelden</button>
            </form>
        </div>
    </div>
    <footer>
        &copy; All Rights Reserved. &#10006; <a class="generic-link" href="{{ imprint }}">Impressum</a>
    </footer>
    <script src="/static/script.js"></script>
</body>
</html>