<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg"/>

    <title>Proxy-Web-App für Kimai | Starte Zeiterfassung</title>
    <meta name="description" content="Proxy-Web-App for Kimai time tracking software">
</head>
<body>
    <div class="flex-wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash_m" class="flash_message">
                {% for message in messages %}
                    <b>{{ message }}</b><br>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="button-container">
            <form id="start-ts-form" method="GET" action="/start">
                <input type="hidden" name="confirm" value="true">
                <button id="startButton" type="submit" class="button start-button" onclick="onClickStart('startButton', 'start-ts-form')"><b>STARTEN</b></button>
            </form>
        </div>
    </div>
    <footer>
        <a class="generic-link" href="{{ imprint }}">Impressum</a> &#10006; <a class="generic-link" href="/logout">Logout</a> &#10006; <i>{{ g.username }}</i>
    </footer>
    <script src="/static/script.js"></script>
</body>
</html>
